

<div class="alert alert-danger text-center" >
   <h2><strong> Vous n’êtes pas autorisé…</strong></h2>
</div>












<div id="sec-1" class="section">
    <div id="ctn">
      <div class="marquee">
        <div class="marquee-text"></div><div class="marquee-text"></div><div class="marquee-text"></div>
      </div>
  
      <div class="text-ctn">ERROR</div>
  
      <div id="forbidden">FORBIDDEN</div>
  
      <div class="text-ctn">HTTP<br>403</div>
  
      <div class="marquee">
        <div class="marquee-text"></div><div class="marquee-text"></div><div class="marquee-text"></div>
      </div>
    </div>
  </div>
